<app-student [pageName]="gradeDataService.pageName"></app-student>
<div>
    <form class="grade-form">
        
        <app-profile [profile]="grade.student"></app-profile>

        <app-course [course]="grade.course"></app-course>

        <mat-form-field appearance="outline">
            <mat-label>grade</mat-label>
            <input matInput name="grade" [(ngModel)]="grade.grade">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>comment</mat-label>
            <input matInput name="comment" [(ngModel)]="grade.comment">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="grade.id">
        </mat-form-field>
    </form>
</div>

<app-button [element]="grade" [isEdit]="gradeDataService.isEdit" [itemIndex]="gradeDataService.itemIndex"></app-button>




