<mat-form-field appearance="fill">
    <mat-label>Church</mat-label>
    <input matInput id="church">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Member</mat-label>
    <input matInput id="member">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Services</mat-label>
    <input matInput id="services">
</mat-form-field>

<div>
    <button mat-raised-button (click)="inputElement()">Input</button>
    <button mat-raised-button (click)="deleteElement()">Delete</button>
    <button mat-raised-button (click)="printElement()">Check Value</button>
</div>
    



