<mat-form-field appearance="fill">
    <mat-label>MaritalState</mat-label>
    <input matInput id="maritalState">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>ChildrenCount</mat-label>
    <input matInput id="childrenCount">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Partner</mat-label>
    <input matInput id="partner">
</mat-form-field>

<div>
    <button mat-raised-button (click)="inputElement()">Input</button>
    <button mat-raised-button (click)="deleteElement()">Delete</button>
    <button mat-raised-button (click)="printElement()">Check Value</button>
</div>
    



