<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Timepicker (<b>Default</b>)</div>
            <div class="card-block">
                <ngb-timepicker></ngb-timepicker>
                <div class="alert alert-info">
                    <b>Selected time: </b>{{defaultTime}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Timepicker (<b>Default</b>)</div>
            <div class="card-block">
                <ngb-timepicker [meridian]="meridian"></ngb-timepicker>
                <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                    Meridian - {{meridian ? "ON" : "OFF"}}
                </button>
                <div class="alert alert-info mt-3 mb-0">
                    <b>Selected time: </b>{{meridianTime}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Timepicker (<b>Seconds</b>)</div>
            <div class="card-block">
                <ngb-timepicker [seconds]="seconds"></ngb-timepicker>
                <button class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="toggleSeconds()">
                    Seconds - {{seconds ? "ON" : "OFF"}}
                </button>
                <div class="alert alert-info mt-3 mb-0">
                    <b>Selected time: </b>{{SecondsTime}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-3">
        <div class="card">
            <div class="card-header">Timepicker (<b>Custom Step</b>)</div>
            <div class="card-block">
                <ngb-timepicker [seconds]="true"
                [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"></ngb-timepicker>

                <div class="row">
                    <div class="col-sm-4">
                        <label>Hour Step</label>
                        <input type="number" class="form-control"/>
                    </div>
                    <div class="col-sm-4">
                        <label>Minute Step</label>
                        <input type="number" class="form-control"/>
                    </div>
                    <div class="col-sm-4">
                        <label>Second Step</label>
                        <input type="number" class="form-control"/>
                    </div>
                </div>
                <div class="alert alert-info mt-3 mb-0">
                    <b>Selected time: </b>{{customTime}}
                </div>
            </div>
        </div>
    </div>
</div>
