<div>
    <form>
        
        <mat-form-field appearance="outline">
            <mat-label>maritalState</mat-label>
            <mat-select [(value)]="family.maritalstate">
                <mat-option *ngFor="let item of maritalstateEnum" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
, 
        <mat-form-field appearance="outline">
            <mat-label>childrenCount</mat-label>
            <input matInput name="childrencount" [(ngModel)]="family.childrencount">
        </mat-form-field>
, 
        <mat-form-field appearance="outline">
            <mat-label>first</mat-label>
            <input matInput name="first" [(ngModel)]="personname.first">
        </mat-form-field>
, 
        <mat-form-field appearance="outline">
            <mat-label>last</mat-label>
            <input matInput name="last" [(ngModel)]="personname.last">
        </mat-form-field>

    </form>
</div>




