<app-student [pageName]="attendanceDataService.pageName"></app-student>
<div>
    <form class="attendance-form">
        
        <app-profile-view></app-profile-view>

        <mat-form-field appearance="outline">
            <mat-label>date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="attendance.date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <app-course-view></app-course-view>

        <mat-form-field appearance="outline">
            <mat-label>hours</mat-label>
            <input matInput name="hours" [(ngModel)]="attendance.hours">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>state</mat-label>
            <mat-select [(value)]="attendance.state">
                <mat-option *ngFor="let item of attendancestateEnum" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>token</mat-label>
            <input matInput name="token" [(ngModel)]="attendance.token">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="attendance.id">
        </mat-form-field>
    </form>
</div>

<app-button [element]="attendance" [isEdit]="attendanceDataService.isEdit" [itemIndex]="attendanceDataService.itemIndex"></app-button>




