<app-student [pageName]="schoolapplicationDataService.pageName"></app-student>
<div>
    <form class="schoolapplication-form">
        
        <app-profile [profile]="schoolapplication.profile"></app-profile>

        <app-personname [personname]="schoolapplication.churchcontactperson"></app-personname>

        <app-contact [contact]="schoolapplication.churchcontact"></app-contact>

        <app-boolean [boolean]="schoolapplication.churchcommitment"></app-boolean>

        <app-schoolyear [schoolyear]="schoolapplication.schoolyear"></app-schoolyear>

        <mat-form-field appearance="outline">
            <mat-label>group</mat-label>
            <input matInput name="group" [(ngModel)]="schoolapplication.group">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="schoolapplication.id">
        </mat-form-field>
    </form>
</div>

<app-button [element]="schoolapplication" [isEdit]="schoolapplicationDataService.isEdit" [itemIndex]="schoolapplicationDataService.itemIndex"></app-button>




