<app-person [pageName]="graduationDataService.pageName"></app-person>
<div>
    <form class="graduation-form">
        
        <mat-form-field appearance="outline">
            <mat-label>name</mat-label>
            <input matInput name="name" [(ngModel)]="graduation.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>level</mat-label>
            <mat-select [(value)]="graduation.level">
                <mat-option *ngFor="let item of graduationlevelEnum" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="graduation.id">
        </mat-form-field>
    </form>
</div>

<app-button [element]="graduation" [isEdit]="graduationDataService.isEdit" [itemIndex]="graduationDataService.itemIndex"></app-button>




