<mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput id="phone">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput id="email">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Cellphone</mat-label>
    <input matInput id="cellphone">
</mat-form-field>

<div>
    <button mat-raised-button (click)="inputElement()">Input</button>
    <button mat-raised-button (click)="deleteElement()">Delete</button>
    <button mat-raised-button (click)="printElement()">Check Value</button>
</div>
    



