<div>
    <button mat-raised-button (click)="buttonService.inputElement()">Input</button>
    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select (valueChange)="buttonService.changeIndex($event)">
            <div *ngFor="let item of templateService.formArrayValue.value; let i = index">
                <mat-option [value]="i">{{i}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="buttonService.loadElement(templateService.index)">Load Value</button>
    <button mat-raised-button (click)="buttonService.printElement(templateService.index)">Check Value</button>
    <button mat-raised-button (click)="buttonService.editElement(templateService.index)">Edit Value</button>
    <button mat-raised-button (click)="buttonService.deleteElement(templateService.index)">Delete</button>
</div>
