<ng-container *ngIf="isEdit; else notEdit">
    <button mat-raised-button [routerLink]="'../../'"
            routerLinkActive="active-link">{{'cancel edit' | translate}}</button>
    <button mat-raised-button (click)="buttonService.editElement(element)" [routerLink]="'../../'"
            routerLinkActive="active-link">{{'save changes' | translate}}</button>
</ng-container>

<ng-template #notEdit>
    <button mat-raised-button [routerLink]="'../'"
            routerLinkActive="active-link">{{'cancel' | translate}}</button>
    <button mat-raised-button (click)="buttonService.inputElement(element)" [routerLink]="'../'"
            routerLinkActive="active-link">{{'save' | translate}}</button>
</ng-template>
