<div>
    <form>
        
        <mat-form-field appearance="outline">
            <mat-label>church</mat-label>
            <input matInput name="church" [(ngModel)]="churchinfo.church">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>member</mat-label>
            <mat-select [(value)]="churchinfo.member">
                <mat-option *ngFor="let item of ['true', 'false']" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>services</mat-label>
            <input matInput name="services" [(ngModel)]="churchinfo.services">
        </mat-form-field>
    </form>
</div>




