<div>
    <form>
        
        <app-graduation-form [graduation]="education.graduation"></app-graduation-form>

        <mat-form-field appearance="outline">
            <mat-label>other</mat-label>
            <input matInput name="other" [(ngModel)]="education.other">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>profession</mat-label>
            <input matInput name="profession" [(ngModel)]="education.profession">
        </mat-form-field>
    </form>
</div>




