<div>
    <form>
        
        <mat-form-field appearance="outline">
            <mat-label>street</mat-label>
            <input matInput name="street" [(ngModel)]="address.street">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>suite</mat-label>
            <input matInput name="suite" [(ngModel)]="address.suite">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>city</mat-label>
            <input matInput name="city" [(ngModel)]="address.city">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>code</mat-label>
            <input matInput name="code" [(ngModel)]="address.code">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>country</mat-label>
            <input matInput name="country" [(ngModel)]="address.country">
        </mat-form-field>
    </form>
</div>




