<div>
    <form>
        
        <mat-form-field appearance="outline">
            <mat-label>phone</mat-label>
            <input matInput name="phone" [(ngModel)]="contact.phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput name="email" [(ngModel)]="contact.email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>cellphone</mat-label>
            <input matInput name="cellphone" [(ngModel)]="contact.cellphone">
        </mat-form-field>
    </form>
</div>




