:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    display: inline-block;
}

app-page {
    width: 100% !important;
    z-index: 0;
}

app-button {
    position: relative;
    left: 10%;
}

mat-action-row {
    position: relative;
    z-index: 1;
    left: 10%;
}

mat-card {
    width: 5%;
}


