<app-page [pageElement]="profileViewService.pageElement" [pageName]="profileViewService.pageName" [tabElement]="profileViewService.tabElement"></app-page>
<mat-action-row [formGroup]="profileViewService.form">
    <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select (valueChange)="profileViewService.changeValue($event, profileViewService.formArrayName[1])" [(value)]="profileViewService.selected[0]">
            <div *ngFor="let item of profileViewService.formEnumElement[0]">
                <mat-option [value]="item">{{item}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput
               id = "firstname"
               formControlName="firstname">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput
               id = "lastname"
               formControlName="lastname">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Birthname</mat-label>
        <input matInput
               id = "birthName"
               formControlName="birthName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Birthday</mat-label>
        <input matInput type="date"
               id = "birthday"
               formControlName="birthday">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput
               id = "street"
               formControlName="street">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Suite</mat-label>
        <input matInput
               id = "suite"
               formControlName="suite">
    </mat-form-field>

    <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput
               id = "city"
               formControlName="city">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput
               id = "code"
               formControlName="code">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput
               id = "country"
               formControlName="country">
    </mat-form-field>
</mat-action-row>

<app-button [usedService]="profileViewService" [isEdit]="profileViewService.isEdit" [itemIndex]="profileViewService.itemIndex"></app-button>
