<app-page [pageElement]="profileDataService.pageElement" [pageName]="profileDataService.pageName" [tabElement]="profileDataService.tabElement"></app-page>

<div>
    <form class="profile-form">
        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select [(value)]="profile.gender">
                <mat-option *ngFor="let item of genderEnum" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <app-person-name [personName]="profile.name"></app-person-name>

        <mat-form-field appearance="outline">
            <mat-label>Birthname</mat-label>
            <input matInput name="birthname" [(ngModel)]="profile.birthName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Birthday</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="profile.birthday">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <app-address [address]="profile.address"></app-address>
    </form>
</div>

<app-button [element]="profile" [isEdit]="profileDataService.isEdit" [itemIndex]="profileDataService.itemIndex"></app-button>
