<app-person [pageName]="churchDataService.pageName"></app-person>
<div>
    <form class="church-form">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput name="Name" [(ngModel)]="church.name">
        </mat-form-field>

        <app-address [address]="church.address"></app-address>

        <mat-form-field appearance="outline">
            <mat-label>Association</mat-label>
            <input matInput name="Association" [(ngModel)]="church.association">
        </mat-form-field>
    </form>
</div>

<app-button [element]="church" [isEdit]="churchDataService.isEdit" [itemIndex]="churchDataService.itemIndex"></app-button>
