.toolbar-space {
    flex: 1 1 auto;
}

mat-sidenav-container {
    position: relative;
    width: 100%;
    z-index: 2;
}

mat-sidenav {
    width: 10%;
}

mat-form-field {
    position: relative;
    width: 100%;
}




