<mat-sidenav-container>
    <mat-sidenav opened="true" disableClose="true" position="end" #drawer
                 [mode]="'side'" [fixedInViewport]="true">
        <mat-nav-list>
            <mat-form-field appearance="outline">
                <mat-label>language</mat-label>
                <mat-select (selectionChange)="changeLanguage($event.value)">
                    <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
                        {{ lang }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>{{'dashboard' | translate}}</div>
            <a *ngFor="let pageName of pageElement"
               mat-list-item
               routerLinkActive="active-link"
               [routerLink]="'/' + pageName.toLowerCase()"
            >{{pageName.toUpperCase()}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <span>{{pageName}}</span>

            <span class="toolbar-space"></span>

            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <nav mat-tab-nav-bar>
            <div *ngFor="let pageTabsName of tabElement">
                <a mat-tab-link
                   [routerLink]="'/' + pageName.toLowerCase() + '/' + pageTabsName.toLowerCase()"
                   routerLinkActive="active-link"
                >{{pageTabsName.toUpperCase()}}
                </a>
            </div>
        </nav>
    </mat-sidenav-content>
</mat-sidenav-container>
