<mat-form-field appearance="fill">
    <mat-label>Shelf</mat-label>
    <input matInput id="shelf">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Fold</mat-label>
    <input matInput id="fold">
</mat-form-field>

<div>
    <button mat-raised-button (click)="inputElement()">Input</button>
    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select (valueChange)="changeIndex($event)">
            <div *ngFor="let item of dataElement; let i = index">
                <mat-option [value]="i">{{i}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="loadElement(index)">Load Value</button>
    <button mat-raised-button (click)="printElement(index)">Check Value</button>
    <button mat-raised-button (click)="editElement(index)">Edit Value</button>
    <button mat-raised-button (click)="deleteElement(index)">Delete</button>
</div>
    



