<div>
    <form class="name-form">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter First Name" name="firstname" [(ngModel)]="personName.first">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" name="lastname" [(ngModel)]="personName.last">
        </mat-form-field>
    </form>
</div>
