
<div>
    <form class="expensepurpose-form">
        
        <mat-form-field appearance="outline">
            <mat-label>name</mat-label>
            <input matInput name="name" [(ngModel)]="expensepurpose.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>description</mat-label>
            <input matInput name="description" [(ngModel)]="expensepurpose.description">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="expensepurpose.id">
        </mat-form-field>
    </form>
</div>




