
<mat-form-field appearance="fill">
    <mat-label>GraduationName</mat-label>
    <input matInput id="graduationName">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>GraduationLevel</mat-label>
    <input matInput id="graduationLevel">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>GraduationId</mat-label>
    <input matInput id="graduationId">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Other</mat-label>
    <input matInput id="other">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Profession</mat-label>
    <input matInput id="profession">
</mat-form-field>

<div>
    <button mat-raised-button (click)="inputElement()">Input</button>
    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select (valueChange)="changeIndex($event)">
            <div *ngFor="let item of dataElement; let i = index">
                <mat-option [value]="i">{{i}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="loadElement(index)">Load Value</button>
    <button mat-raised-button (click)="printElement(index)">Check Value</button>
    <button mat-raised-button (click)="editElement(index)">Edit Value</button>
    <button mat-raised-button (click)="deleteElement(index)">Delete</button>
</div>
    



