<mat-form-field appearance="fill">
    <mat-label>Graduation</mat-label>
    <input matInput id="graduation">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Other</mat-label>
    <input matInput id="other">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Profession</mat-label>
    <input matInput id="profession">
</mat-form-field>

<div>
    <button mat-raised-button (click)="inputElement()">Input</button>
    <button mat-raised-button (click)="deleteElement()">Delete</button>
    <button mat-raised-button (click)="printElement()">Check Value</button>
</div>
    



