<app-student [pageName]="groupDataService.pageName"></app-student>
<div>
    <form class="group-form">
        
        <mat-form-field appearance="outline">
            <mat-label>name</mat-label>
            <input matInput name="name" [(ngModel)]="group.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>category</mat-label>
            <mat-select [(value)]="group.category">
                <mat-option *ngFor="let item of categoryEnum" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <app-schoolyear [schoolyear]="group.schoolyear"></app-schoolyear>

        <app-profile [profile]="group.representative"></app-profile>

        <app-list [list]="group.students"></app-list>

        <app-list [list]="group.courses"></app-list>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="group.id">
        </mat-form-field>
    </form>
</div>

<app-button [element]="group" [isEdit]="groupDataService.isEdit" [itemIndex]="groupDataService.itemIndex"></app-button>




